@using HrWebApp.ViewModels
@using Microsoft.AspNetCore.Identity
@model UploadImgViewModel
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="loginbackground box-background--white padding-top--64">
            <div class="loginbackground-gridContainer">
                <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                    <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                    <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                    <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                    <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                    <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                    <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                    <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                    <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                    <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
                </div>
            </div>
        </div>
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            
            <div class="row is-table-row startblock">
                <div class="col-sm-4 blockdiv">
                    <div class="col-12 headerdiv">
                        <h5>Завантажити фото</h5>
                    </div>
                    <div class="col-12 colorblock">
                        <form method="post" asp-controller="Staff" asp-action="UploadImg" enctype="multipart/form-data">
                            <span class="input__wrapper">
                                <input id="input__file" class="input input__file" asp-for="Image" type="file">
                                <label for="input__file" class="input__file-button">
                                    <span class="input__file-icon-wrapper"><img class="input__file-icon" src="~/lib/img/free-icon-upload-8858318.png" alt="Обрати файл" width="50"></span>
                                    <span class="input__file-button-text">Виберіть файл</span>
                                </label>
                            </span>
                            <input asp-for="UserId" type="text" value="@user.StaffId" hidden>
                            <button class="btn-new btn btn-outline-success col-12" type="submit">Завантажити</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 blockdiv">
                    <div class="col-12 headerdiv">
                        <h5>Змінити пароль</h5>
                    </div>
                    <div class="col-12 colorblock">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text chdiv" id="inputGroup-sizing-lg">&#128274;</span>
                            <input disabled type="password" class="form-control chdiv" aria-label="Пример размера поля ввода" aria-describedby="inputGroup-sizing-lg">
                        </div>
                        <button disabled class="btn-new btn btn-outline-success col-12" type="submit">Змінити</button>
                    </div>
                </div>
                <div class="col-sm-4 blockdiv">
                    <div class="col-12 headerdiv">
                        <h5>Змінити E-mail</h5>
                    </div>
                    <div class="col-12 colorblock">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text chdiv" id="inputGroup-sizing-lg">&#64;</span>
                            <input disabled type="password" class="form-control chdiv" aria-label="Пример размера поля ввода" aria-describedby="inputGroup-sizing-lg">
                        </div>
                        <button disabled class="btn-new btn btn-outline-success col-12" type="submit">Змінити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let inputs = document.querySelectorAll('.input__file');
    Array.prototype.forEach.call(inputs, function (input) {
        let label = input.nextElementSibling,
            labelVal = label.querySelector('.input__file-button-text').innerText;

        input.addEventListener('change', function (e) {
            let countFiles = '';
            if (this.files && this.files.length >= 1)
                countFiles = this.files.length;

            if (countFiles)
                label.querySelector('.input__file-button-text').innerText = 'Вибрано файлів: ' + countFiles;
            else
                label.querySelector('.input__file-button-text').innerText = labelVal;
        });
    });
</script>
